{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">
    <hr>
</div>
<div class="container-fluid p-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style = "height: 85vh;">
                <img src="../../../static/img/home-page2.jpg" class="d-block w-100" alt="carousel image">
                <div class="carousel-caption">
                    <h1 class = "white-text heading-font font-size-96">elgini's</h1>
                    <p class = "white-text heading-font font-size-48">A taste of Italy</p>
                </div>
            </div>
            {% for item in carousel %}
            <div class="carousel-item" style = "height: 85vh;">
                <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.title }}">
                <div class="carousel-caption">
                    <h1 class = "white-text heading-font font-size-96">{{ item.title }}</h1>
                    <p class = "white-text heading-font font-size-48">{{ item.body }}</p>
                </div>
            </div>
            {% endfor %}       
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md d-none d-md-block">
            <div class = 'd-flex align-items-center height-100pc'>
                <div class = "pt-3 pb-3 ld-sorted">
                    <h1 class="col-12 heading-font font-size-48">Lunch and Dinner Sorted</h1>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class = "position-relative mb-5">
                <img src="{{ MEDIA_URL }} /home/lunch-sorted.jpg" class = "img-fluid" alt = "dinner menu image">
                <a href = "{% url 'meals:lunch_menu' %}" class="btn btn-primary home-position-absolute">Lunch Menu</a>
            </div>
        </div>
        <div class="col-md">
            <div class = "position-relative mb-5">
                <img src="../../../static/img/dinner-sorted.jpg" class = "img-fluid" alt = "dinner menu image">
                <a href = "{% url 'meals:dinner_menu' %}" class="btn btn-primary home-position-absolute">Dinner Menu</a>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-10vh">        
        <div class="col-md">
            <div class = "position-relative mb-5">
                <!--Photo by <a href="https://unsplash.com/@picoftasty?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mae Mu</a> on <a href="https://unsplash.com/s/photos/drinks?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
                <img src="../../../static/img/just-drinks.jpg" class = "img-fluid" alt = "drinks menu image">                
                <a href = "{% url 'meals:drinks_menu' %}" class="btn btn-primary home-position-absolute">Drinks Menu</a>
            </div>
        </div>
        <div class="col-md d-none d-md-block">
            <div class = 'd-flex align-items-center height-100pc'>
                <div class = "pt-3 pb-3 ld-sorted width-100pc">
                    <h1 class="col-12 heading-font font-size-48">Just for drinks</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}