@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

@font-face {
    font-family: 'Maria Rose';
    src: url('../fonts/MariaRoseRegularRegular.woff2') format('woff2'),
        url('../fonts/MariaRoseRegularRegular.woff') format('woff'),
        url('../fonts/MariaRoseRegularRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar-brand.active {
    color: white;
}

body {
    background-color:#FBF4E1;
    font-family: 'Josefin Sans', sans-serif;
}

.heading-font{
    font-family: 'Maria Rose';
    font-size: 200%;
}

.font-size-96{
    font-size:96px;
}

.font-size-72{
    font-size:72px;
}

.margin-left-3vw{
    margin-left:3vw;
}

.white-text{
    color: white;
}

.margin-top-3vh{
    margin-top:3vh;
}

.margin-top-5vh{
    margin-top:5vh;
}

.margin-bottom-5vh{
    margin-bottom:5vh;
}

.margin-top-10vh{
    margin-top:10vh;
}

.margin-bottom-10vh{
    margin-bottom:10vh;
}

.padding-0{
    padding:0;
}

.text-align-center{
    text-align:center;
}

.horizontal-scroll{
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

/*Menu page*/

#meal-list-banner{
    min-height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url('../img/meal-list-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.border-right-2{
    border-right: 2px solid black;
}

.border-left-2{
    border-left: 2px solid black;
}

.horizontal-scroll a{
    line-height: 8vh;
    margin: auto 0 auto 1.5rem;
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    display: inline-flex;
    text-decoration: none;
    color: black;
}

.relative{
    position: relative;
}

@media screen and (max-width: 1023px){

    .horizontal-scroll:before, .horizontal-scroll:after{
        content: "\f104";
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: .83333rem;
        color: #0a0a0a;
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        margin: -0.625rem;
        position: absolute;
        top: 50%;
        z-index: 2;
        background-color: hsla(0,0%,100%,.7);
        border-radius: 50%;
        line-height: 1.25rem;
        justify-content: center;
    }

    .horizontal-scroll:before{
        transform: rotate(0deg);
        transform-origin: center center;
        left: 1rem;
    }

    .horizontal-scroll:after{
        transform: rotate(180deg);
        transform-origin: center center;
        right: 1rem;
    }

}

.horizontal-scroll a:not(:last-child)::after{
    content: "\f111";
    font-family: FontAwesome;
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    border-radius: 50%;
    background-color: #FBF4E1;
    margin: auto 0 auto 1.5rem;
    box-sizing: content-box;
    font-size: .35rem;
    font-weight: 900;
    color:black;
}

/*overide to put image and text adjacent*/
.menu h3 {
    display: inline-block;
}

.menu .col-sm {
    margin-top: 10px;
}

.full-width-2px{
    border-top:2px solid black;
}

.description-overflow-scroll{
    overflow: auto; 
    height: 4.5rem;
}

.menu-category-background-generic{
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 120px ;
}

.menu-category-background-generic h1{
    color: white;
}

.Starters{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/starters-menu.jpg')
}

.Pizza{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/pizza-menu.jpg')
}

.Pasta{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/pasta-menu.jpg')
}

.Specialities{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/specialities-menu.jpg')
}

.Salads{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/salads-menu.jpg')
}

.Desserts{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/desserts-menu.jpg')
}

.Sides{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/desserts-menu.jpg')
}

.pizza-menu h2 {
    font-weight:700;
    font-size: 300%;
}

.transparent{
    opacity: 0;
}

.menu-item{
    padding: 25px;
}

.height-20{
    height: 20%;
}

.height-60{
    height: 60%;
}

.dark-circle-background{
    background-color: black;
    border-radius:50%;
    width:24px;
    display: inline-block;
    text-align: center;
}

@media (min-width: 992px) {
    .menu-category-background-generic{
        min-height: 250px
    }
}

/*Overide img fluid*/

.img-fluid.menu-item-image {
    height: 100%;
    object-fit: cover;
}

.img-fluid.allergen-item-image {
    max-width: 20%;
}


/*-----About page----------------------------------------------------------------*/

/*Photo by <a href="https://unsplash.com/@jaywennington?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jay Wennington</a> on <a href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/

#about-banner{
    min-height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5)),url('../img/about-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.reasons-image{
    /*Photo by <a href="https://unsplash.com/@jaywennington?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jay Wennington</a> on <a href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
    /* background-image: url('../img/reasons.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-height: 500px; */
    
}

/* Remove background color from accordion */

.accordion-button,.accordion-body,.accordion-button:not(.collapsed){
    background-color:#FBF4E1;
    color:black;
}

.accordion-button:not(.collapsed){
    color:black;
}

.max-height-400{
    max-height:400px;
}


/*------Contact Us --------------------------------------------------------*/

#id_message {
    height: 10em;
    width: 100%;
}

/*------Booking Page-------------------------------------------------------*/

.booking-background {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url('../img/about-banner.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.translucent-body{
    background-color: rgba(251, 244, 225, 0.5);
    border-radius: 10px;
}