/* Body text and normal headings */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

/* Licenced font for logo and curly text headings */
@font-face {
    font-family: 'Maria Rose';
    src: url('../fonts/MariaRoseRegularRegular.woff2') format('woff2'),
        url('../fonts/MariaRoseRegularRegular.woff') format('woff'),
        url('../fonts/MariaRoseRegularRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* root colors and styles */
:root {
    background-color: #383831;
    font-family: 'Josefin Sans', sans-serif;
    --heading-font: 'Maria Rose', sans-serif;
    --green:#5A753A;
    --dark-green:#445c27;
    --burnt-orange:#703D30;
    --white:#FFFFFF;
    --off-white:#FBF4E1;
    --charcoal: #212529;
    --grey: #4F4F4F;
}


body {
    background-color:var(--off-white);
    font-family: 'Josefin Sans', sans-serif;
    color:var(--grey);
}

h1,h2,h3,h4,h5,h6{
    color: var(--charcoal);
}

a {
    color: var(--charcoal);
}

/* Applies curly font */
.heading-font{
    font-family: var(--heading-font);
    font-size: 200%;
}

.white-text{
    color: var(--white);
}

/* Custom font size classes ---------------------*/
.font-size-96{
    font-size:96px;
}

.font-size-72{
    font-size:72px;
}

.font-size-60{
    font-size:60px;
}

.font-size-48{
    font-size:48px;
}

/* Custom margin size classes ---------------------*/
.margin-left-3vw{
    margin-left:3vw;
}

.margin-top-3vh{
    margin-top:3vh;
}

.margin-top-5vh{
    margin-top:5vh;
}

.margin-bottom-5vh{
    margin-bottom:5vh;
}

.margin-top-10vh{
    margin-top:10vh;
}

.margin-bottom-10vh{
    margin-bottom:10vh;
}

.height-90{
    height:90vh;
}

.padding-0{
    padding:0;
}

.position-relative{
    position:relative;
}

.absolute-bottom-0{
    position: absolute;
    bottom: 0;
}

.text-align-center{
    text-align:center;
}

/* Used for the sub nav heading in menu pages */
/* From https://stackoverflow.com/questions/42348761/how-to-hide-horizontal-scrollbar-but-still-able-to-scroll */
.horizontal-scroll{
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* To remove scrollbar on IOS */
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

/* Navbar so the other menu doesn't show through */
.nav-item.dropdown{
    z-index: 1025;
}

/*Menu page ---------------------------------------------------*/

/* Header image for menu pages */
#meal-list-banner{
    min-height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url('../img/meal-list-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Styling for menu type (Lunch, Dinner etc) */
.border-right-2{
    border-right: 2px solid black;
}

.border-left-2{
    border-left: 2px solid black;
}

/* Scroll bar for food categories in menu pages -------------------------*/
.horizontal-scroll a{
    line-height: 8vh;
    margin: auto 0 auto 1.5rem;
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    display: inline-flex;
    text-decoration: none;
    color: black;
}

.relative{
    position: relative;
}

@media screen and (max-width: 1023px){

    .horizontal-scroll:before, .horizontal-scroll:after{
        content: "\f104";
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: .83333rem;
        color: #0a0a0a;
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        margin: -0.625rem;
        position: absolute;
        top: 50%;
        z-index: 2;
        background-color: hsla(0,0%,100%,.7);
        border-radius: 50%;
        line-height: 1.25rem;
        justify-content: center;
    }

    .horizontal-scroll:before{
        transform: rotate(0deg);
        transform-origin: center center;
        left: 1rem;
    }

    .horizontal-scroll:after{
        transform: rotate(180deg);
        transform-origin: center center;
        right: 1rem;
    }

}

.horizontal-scroll a:not(:last-child)::after{
    content: "\f111";
    font-family: FontAwesome;
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    border-radius: 50%;
    background-color: #FBF4E1;
    margin: auto 0 auto 1.5rem;
    box-sizing: content-box;
    font-size: .35rem;
    font-weight: 900;
    color:black;
}

/*overide to put image and text adjacent --------------------------*/
.menu h3 {
    display: inline-block;
}

.menu .col-sm {
    margin-top: 10px;
}

.full-width-2px{
    border-top:2px solid black;
}

.description-overflow-scroll{
    overflow: auto; 
    height: 4.5rem;
}

/* Gradient overlay for menu category headers */
.menu-category-background-generic{
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 120px ;
}

.menu-category-background-generic h1{
    color: var(--white);
}

/* Images for menu categories */
.Starters{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dannymagnus/image/upload/v1648410997/static/img/starters-menu.6faab5b6a215.jpg')
}

.Pizza{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dannymagnus/image/upload/v1648411003/static/img/pizza-menu.652b32a2901a.jpg')
}

.Pasta{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dannymagnus/image/upload/v1648411002/static/img/pasta-menu.77dd966ff353.jpg')
}

.Specialities{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dannymagnus/image/upload/v1648411002/static/img/specialities-menu.2e3697685872.jpg')
}

.Salads{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dannymagnus/image/upload/v1648410994/static/img/salads-menu.953020aba177.jpg')
}

.Desserts{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dannymagnus/image/upload/v1648410995/static/img/desserts-menu.916e7e49a340.jpg')
}

.Sides{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dannymagnus/image/upload/v1648411001/static/img/sides-menu.fb46d3c2ad99.jpg')
}

/* Apply class if not vegan or vegetarian to keep row height */
.transparent{
    opacity: 0;
}

.menu-item{
    padding: 25px;
}

/* Style row heights for meal item in menu */
.height-20{
    height: 20%;
}

.height-60{
    height: 60%;
}

/* Styling for vegan and vegetarian icons */
.dark-circle-background{
    background-color: black;
    border-radius:50%;
    width:24px;
    display: inline-block;
    text-align: center;
}

@media (min-width: 992px) {
    .menu-category-background-generic{
        min-height: 250px
    }
}

/*Overide img fluid*/

.img-fluid.menu-item-image {
    height: 100%;
    object-fit: cover;
}

.img-fluid.allergen-item-image {
    max-width: 20%;
}

/* For drinks page title underlining */
.border-bottom-4{
    border-bottom: 4px solid var(--burnt-orange);
}

.col-4.padding-0{
    max-height: 150px;
}

.min-height-width-300{
    min-height: 300px;
    min-width: 300px;
}

/*-----About page----------------------------------------------------------------*/


#about-banner{
    min-height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dannymagnus/image/upload/v1648410999/static/img/about-banner.112020defb9f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Remove background color from accordion */

.accordion-button,.accordion-body,.accordion-button:not(.collapsed){
    background-color:#FBF4E1;
    color:black;
}

.accordion-button:not(.collapsed){
    color:black;
}

.max-height-400{
    max-height:400px;
}

.black-background{
    background-color: black;
}

.font-size-larger{
    font-size:larger;
}


/*------Contact Us --------------------------------------------------------*/

.contact-background{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dannymagnus/image/upload/v1648410998/static/img/contact-banner.99f16461d36f.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#id_message {
    height: 10em;
    width: 100%;
}

/*------Booking Page-------------------------------------------------------*/

.booking-background {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dannymagnus/image/upload/v1648411000/static/img/join-us-banner.99f16461d36f.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.translucent-body{
    background-color: rgba(251, 244, 225, 0.2);
    color:var(--white);
    border-radius: 10px;
}

#div_id_time .asteriskField::after {
    content: "(We accept bookings every 15 mins)";
}


/*-------Home page------------------------------------*/
.home-position-absolute{
    position: absolute;
    bottom:1.5em;
    left:1.5em;
}

.ld-sorted{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.height-100pc{
    height: 100%;
}

.width-100pc{
    width: 100%;
}

.stick-ontop {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    align-self: flex-start;
    height: auto;
  }

.btn.btn-primary {
    background-color: var(--green);
    border-color: var(--green)
}

.btn.btn-primary:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green)
}

/* .carousel-item{
    background-color: rgb(2, 2, 2);
    color:var(--white);
    border-radius: 10px;
} */

.carousel-item img{
    object-fit: cover;
    object-position: center center;
    height: 100%;
    /* opacity: 0.5; */
}

.carousel-caption{
    bottom: 10rem;
}

#carouselExampleIndicators{ 
    width:100%;
}

/* Footer----------------------------------------------------------------- */
.navbar-dark.bg-dark.white-text a{
    color: var(--white);
}


/* Error pages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

height-90vh{
    height:90vh;
}