@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&display=swap');

.navbar-brand.active {
    color:red;
}

body {
    background-color:#FBF4E1;
    font-family: 'Averia Serif Libre', cursive;
}

/*Menu page*/

/*overide to put image and text adjacent*/
.menu h3 {
    display: inline-block;
}

.menu .col-sm {
    margin-top: 10px;
}

.menu-category-background-generic{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 120px ;
}

.Starters{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/starters-menu.jpg')
}

.Pizza{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/pizza-menu.jpg')
}

.Pasta{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/pasta-menu.jpg')
}

.Specialities{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/specialities-menu.jpg')
}

.Salads{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/salads-menu.jpg')
}

.Desserts{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../img/desserts-menu.jpg')
}

.pizza-menu h2 {
    font-weight:700;
    font-size: 300%;
}

.transparent{
    opacity: 0;
}

@media (min-width: 992px) {
    .menu-category-background-generic{
        min-height: 250px
    }
}

/*Overide img fluid*/

.img-fluid.menu-item-image {
    height: 100%;
    object-fit: cover;
}

.img-fluid.allergen-item-image {
    width: 20%;
}
