{% extends "base.html" %}
{% load static %}

{% block content %}

<section class = "banner">
    <!--Photo by <a href="https://unsplash.com/@jaywennington?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jay Wennington</a> on <a href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
    <div id = "about-banner" class="d-flex flex-column container-fluid justify-content-center align-items-center white-text" style = "min-height: 50vh">
        <h1 class = "heading-font font-size-96">About Us</h1>
    </div>
</section>

<section class = "margin-top-10vh">
    <div class="container">
        {% for about in about %}
        <div class="row">
            <div class="col-sm">
                <img src="{{ about.image.url }}" alt="restaurant image" class="img-fluid" style="margin-top:2%;">
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col">
                        <h2> {{ about.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            {{ about.body|linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class = "margin-top-10vh">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col">
                        <h2>Why Choose Us</h2>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            {% for reason in reasons %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                                        {{ reason.title }}
                                    </button>
                                </h2>
                                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {{ reason.body }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm reasons-image">
                <!--Photo by Malidate Van from Pexels-->
            </div>
        </div>

    </div>
</section>


<section id = "chefs" class = "margin-top-10vh">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class = "text-align-center">
                    Our Chefs
                </h2>
            </div>
        </div>
        <div class="row margin-top-10vh">
            {% for chef in chefs %}
            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        <img src="{{ chef.image.url }}" alt="{{ chef.name }}" class="img-fluid" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>{{ chef.name }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col margin-bottom-10vh">
                        <p>
                            {{ chef.description }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
