{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class = "banner">
    <div id = "about-banner" class="d-flex flex-column container-fluid justify-content-center align-items-center white-text">
        <h1 class = "heading-font font-size-96 white-text">About Us</h1>
    </div>
</section>
<section class = "margin-bottom-10vh margin-top-10vh">
    <div class="container">
        <h1 class = "heading-font font-size-96">Comments</h1>
    </div>
    <div class="container max-height-400 overflow-auto">
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class = "row">
            <div class="col-md-6">
                <form action "." method = "POST">{% csrf_token %}
                    <p>Are you sure you want to delete comment {{ comment }}</p>
                    <button class="btn btn-signup btn-md" type="submit">Delete</button>
                    <a href = "/about/" class="btn btn-signup btn-md">Cancel</a>
                </form>
            </div>
        </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'about/js/carousel.js' %}"></script>
{% endblock %}
