{% extends "base.html" %}
{% block content %}
{% load static %}

<section class = "banner">
    <div id = "full-menu-header" class="container">
        <div class="row margin-top-5vh">
            <div class="col-sm col-md4"></div>
            <div class="col-sm col-md4 d-flex align-items-center justify-content-center border-right-2 border-left-2">
                <h2 class = "text-align-center border-left-2px">Drinks Menu</h2>
            </div>
            <div class="col-sm col-md4"></div>        
        </div>
    </div>
    <div>
        <hr class="full-width-2px">
    </div>
    {% for category in categories %}

        <div class = "container d-flex align-items-center {{category.name}} margin-top-10vh border-bottom-4 pb-2">
            <h2 class = "heading-font font-size-48">{{category.name}}</h2>
        </div>
        <div class="container">        
            <div class="row">
                {% for drink in drinks %}
                        {% if drink.category.name == category.name %}
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 menu-item">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col">
                                                <h6>{{drink.name}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    {{drink.description}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class = "margin-bottom-10vh">
    </div>


{% endblock %}