{% extends "base.html" %}
{% block content %}
{% load static %}

<section class = "banner">
    <div id = "full-menu-header" class="container">
        <div class="row margin-top-5vh">
            <div class="col-sm col-md4"></div>
            <div class="col-sm col-md4 d-flex align-items-center justify-content-center border-right-2 border-left-2">
                <h1 class = "text-align-center border-left-2px">Drinks Menu</h1>
            </div>
            <div class="col-sm col-md4"></div>        
        </div>
    </div>



{% endblock %}