{% extends "base.html" %}

{% block body %}
{% load static %}

<h1>Meal List</h1>
<section class = "menu">
    <div class="container-fluid d-flex align-items-center menu-category-background-generic">
        <div class = "container">
            <h2>Starters, bread and Nibbles</h2>
        </div>
        <div class="container justify-content-center">
            {% for meal in meal_list %}
                {% if meal.category == 'starter' %}
                    <h3>{{meal.name}}</h3>
                    <!--passes the slug to the url so to go to the view-->
                    <h4><a href="{% url 'meals:meal_information' meal.slug %}">...meal info</a></h4>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        <div class = "container-fluid d-flex align-items-center menu-category-background-generic pizza">
            <div class = "container">
                <h2>Pizza</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for meal in meal_list %}
                    {% if meal.category == 'pizza' %}
                        <div class="col-sm">
                            <div class="row" style = "height: 120px;">
                                <div class="col-4">
                                    <img src="{{meal.image.url}}" class="img-fluid menu-item-image" style = "width:100%; height:100%;" >
                                </div>
                                <div class="col-8">
                                    <!--passes the slug to the url so to go to the view-->
                                    <h3><a href="{% url 'meals:meal_information' meal.slug %}">{{meal.name}}</a></h3>
                                </div>
                            </div>
                        </div>   
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <h2>Pasta</h2>
        {% for meal in meal_list %}
            {% if meal.category == 'pasta' %}
                <!--passes the slug to the url so to go to the view-->
                <h3><a href="{% url 'meals:meal_information' meal.slug %}">{{meal.name}}</a></h3>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <h2>Speciality Mains</h2>
        {% for meal in meal_list %}
            {% if meal.category == 'speciality' %}
                <!--passes the slug to the url so to go to the view-->
                <h3><a href="{% url 'meals:meal_information' meal.slug %}">{{meal.name}}</a></h3>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <h2>Salads</h2>
        {% for meal in meal_list %}
            {% if meal.category == 'salad' %}
                <!--passes the slug to the url so to go to the view-->
                <h3><a href="{% url 'meals:meal_information' meal.slug %}">{{meal.name}}</a></h3>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <h2>Deserts</h2>
        {% for meal in meal_list %}
            {% if meal.category == 'salad' %}
                <!--passes the slug to the url so to go to the view-->
                <h3><a href="{% url 'meals:meal_information' meal.slug %}">{{meal.name}}</a></h3>
            {% endif %}
        {% endfor %}
    </div>

</section>


{% endblock body %}