{% extends "base.html"%}
{% block content %}
{% load static %}

<section class = "margin-top-10vh  margin-bottom-10vh">
    <div class="container">
        <div class="row">
            <div class="col-sm d-flex justify-content-center margin-bottom-5vh">
                <img src="{{ meal_information.image.url }}" alt="{{ meal_information.name }}" class="min-height-width-320">
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        <h2> {{meal_information.name}} </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            {{meal_information.description}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class = "font-size-larger">Known Allergens</p>
                        <p>
                            {% for allergen in meal_information.allergens.all %}{{ allergen.name }}
                            <img src = "{{allergen.image.url}}" alt = "{{allergen.name}}" class = "img-fluid"><br/>
                            {% empty %}
                            None
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class = "font-size-larger">Price</p>
                        <p>
                            £{{meal_information.price}}
                        </p>
                    </div>
                    <div class="col">
                        <p class = "font-size-larger">Calories</p>
                        <p>
                            {{meal_information.calories}} Kcal
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>

{% endblock %}