{% extends "base.html" %}

{% block body %}
{% load static %}

<h1>Meal List</h1>
<section class="menu">
    <div class = "container-fluid d-flex align-items-center menu-category-background-generic pizza">
        <div class = "container">
            <h2>Pizza</h2>
        </div>
    </div>
    <div class="container">        
        <div class="row">
            {% for meal in meal_list %}
                {% if meal.category == 'Pizza' %}
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-4" style="background-color:aqua;">
                                <img src="{{meal.image.url}}" class="img-fluid menu-item-image">
                            </div>
                            <div class="col-8" style="background-color: pink;">
                                <div class="row" style="background-color:grey;">
                                    <div class="col">
                                        <h3><a href="{% url 'meals:meal_information' meal.slug %}">{{meal.name}}</a></h3>
                                    </div>
                                </div>
                                <div class="row" style="background-color:gold;">
                                    <div class="col">
                                        <p>
                                            £{{meal.price}}
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            {{meal.calories}} cals
                                        </p>
                                    </div>
                                </div>
                                {% if meal.vegetarian or meal.vegan %}
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            {% if meal.vegan %} 
                                                Ve
                                            {% endif %}
                                            {% if meal.vegetarian %}
                                                V
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col">
                                        Allergens
                                    </div> 
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class = "container-fluid d-flex align-items-center menu-category-background-generic pizza">
        <div class = "container">
            <h2>Pasta</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for meal in meal_list %}
                {% if meal.category == 'pasta' %}
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-4" style="background-color:aqua;">
                                <img src="{{meal.image.url}}" class="img-fluid menu-item-image">
                            </div>
                            <div class="col-8" style="background-color: pink;">
                                <div class="row" style="background-color:grey;">
                                    <div class="col">
                                        <h3><a href="{% url 'meals:meal_information' meal.slug %}">{{meal.name}}</a></h3>
                                    </div>
                                </div>
                                <div class="row" style="background-color:gold;">
                                    <div class="col">
                                        <p>
                                            £{{meal.price}}
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            {{meal.calories}} cals
                                        </p>
                                    </div>
                                </div>
                                {% if meal.vegetarian or meal.vegan %}
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            {% if meal.vegan %} 
                                                Ve
                                            {% endif %}
                                            {% if meal.vegetarian %}
                                                V
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col">
                                        Allergens
                                    </div> 
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</section>
<div>
    {% for meal in meal_list %}
        <h1>{{meal.category}}</h1>
        {% if meal.category == 'Pizza' %}
            <h1>{{meal.name}}</h1>

        {% endif %}

    {% endfor %}
</div>


{% endblock body %}