{% extends "base.html"%}
{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col">
            <H1 style="text-align:center;">{{meal_information.name}}</H1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="{{meal_information.image.url}}" alt="{{meal_information.name}}" style="width:100; object-fit:fill;">
        </div>
        <div class="col">
            <p>
                {{meal_information.price}}
            </p>
        </div>
        <div class="col">
            <p>
                {{meal_information.calories}} cals
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{meal_information.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock body %}