{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <H2 class="heading-font font-size-72 text-align-center">Come and join us</H2>
                <div class="row">
                    <div class="col">
                        <p class = "text-align-center">57 High Street,<br>
                            Sutton Coldfield.<br>
                            B78PPN
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class = "text-align-center">
                            0121 5679933
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class = "text-align-center">Monday to Sunday 12pm - 10pm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "contact-background d-flex align-items-center p-5">
        <div class="container">
            <div class="row">
                <div class="col-sm col-lg-8 col-xl-8 col-xxl-8 d-flex justify-content-center pt-5 mt-5 pb-5">
                    <h1 class = "heading-font font-size-96 white-text mb-5">Get in touch!</h1>
                </div>
                <div class="col-sm col-lg-4 col-xl-4 col-xxl-4 mb-5">
                    {% if contacted %}
                        <div class="alert alert-success">
                            Thank you for your message, we'll be in touch soon!
                        </div>
                    {% else %}
                        <form method = "POST" class = "p-3 translucent-body">
                            {% csrf_token %}
                            {{ contact_form | crispy }}
                            <br>
                            <button class="btn btn-primary" type="submit">Send message</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
